# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django specific files
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/

# Static and media files
/static/
/media/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.log
*/migrations/*.sqlite3